@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// // Set your brand colors
// $purple: #8a4d76;
// $pink: #fa7c91;
// $brown: #757763;
// $beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// // Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// // Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

.repository-item:hover {
  background: $beige-lighter;
}

@media screen and (min-width: 769px) {
  .matrix {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
  }
}
@media screen and (min-width: 769px) and (max-width: 999px) {
  .matrix {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }
}

@media screen and (min-width: 1000px) {
  .matrix {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  }
}

.logoIMG {
  padding-top: 2em;
}

.public-key-list-item {
  word-wrap: break-word;
}

.Toastify__toast{
  @extend .notification;
  
}




.Toastify__toast-theme--colored.Toastify__toast--error{
  @extend .is-danger;
  --toastify-color-error: $danger
}

.Toastify__toast--warn{
  @extend .is-warning;
}

.Toastify__toast-theme--colored.Toastify__toast--info{
  @extend .is-info;
  --toastify-color-info: $info
}

.Toastify__toast-theme--colored.Toastify__toast--success{
  @extend .is-success;
  --toastify-color-success: $success
}


.Toastify__close-button--light{
  @extend .delete;
}